---
# need for docker build
sudo: true
dist: xenial

addons:
  apt:
    packages:
      - realpath
services:
  - docker

language: go
branches:
  only:
    - master

go: 1.12.x

env:
  global:
    - KADALU_VERSION=canary
    - GOLANGCI_VERSION=v1.17.0
    - TEST_COVERAGE=stdout
    - GO_METALINTER_THREADS=1
    - GO_COVER_DIR=_output
    - VM_DRIVER=none
    - MINIKUBE_VERSION=v1.5.2
    - CHANGE_MINIKUBE_NONE_USER=true
    - KUBECONFIG=$HOME/.kube/config

jobs:
  include:
    - name: kadalu with kube 1.13.7
      script:
        - make build-containers || travis_terminate 1;
        - make gen-manifest || travis_terminate 1;
        - tests/travis-test.sh v1.13.7 || travis_terminate 1;
    - name: kadalu with kube 1.15.0
      script:
        - make build-containers || travis_terminate 1;
        - make gen-manifest || travis_terminate 1;
        - tests/travis-test.sh v1.15.0 || travis_terminate 1;
    - name: kadalu with kube 1.16.0
      script:
        - make build-containers || travis_terminate 1;
        - make gen-manifest || travis_terminate 1;
        - tests/travis-test.sh v1.16.0 || travis_terminate 1;
