# -*- mode: yaml -*-
kind: ConfigMap
apiVersion: v1
metadata:
  name: kadalu-volfiles
  namespace: {{ namespace }}
data:
  data-brick.vol: |
    volume glustervol-posix
        type storage/posix
        option shared-brick-count 1
        option volume-id 74f52147-21bd-4285-ad30-8eacdbcd872a
        option directory {{ brick_path }}
    end-volume
     
    volume glustervol-trash
        type features/trash
        option trash-internal-op off
        option brick-path {{ brick_path }}
        option trash-dir .trashcan
        subvolumes glustervol-posix
    end-volume
     
    volume glustervol-changelog
        type features/changelog
        option changelog-barrier-timeout 120
        option changelog-dir {{ brick_path }}/.glusterfs/changelogs
        option changelog-brick {{ brick_path }}
        subvolumes glustervol-trash
    end-volume
     
    volume glustervol-bitrot-stub
        type features/bitrot-stub
        option bitrot disable
        option export {{ brick_path }}
        subvolumes glustervol-changelog
    end-volume
     
    volume glustervol-access-control
        type features/access-control
        subvolumes glustervol-bitrot-stub
    end-volume
     
    volume glustervol-locks
        type features/locks
        option enforce-mandatory-lock off
        subvolumes glustervol-access-control
    end-volume
     
    volume glustervol-worm
        type features/worm
        option worm-files-deletable on
        option worm-file-level off
        option worm off
        subvolumes glustervol-locks
    end-volume
     
    volume glustervol-read-only
        type features/read-only
        option read-only off
        subvolumes glustervol-worm
    end-volume
     
    volume glustervol-leases
        type features/leases
        option leases off
        subvolumes glustervol-read-only
    end-volume
     
    volume glustervol-upcall
        type features/upcall
        option cache-invalidation off
        subvolumes glustervol-leases
    end-volume
     
    volume glustervol-io-threads
        type performance/io-threads
        subvolumes glustervol-upcall
    end-volume
     
    volume glustervol-selinux
        type features/selinux
        option selinux on
        subvolumes glustervol-io-threads
    end-volume
     
    volume glustervol-marker
        type features/marker
        option inode-quota off
        option quota off
        option gsync-force-xtime off
        option xtime off
        option quota-version 0
        option timestamp-file /var/lib/glusterd/vols/glustervol/marker.tstamp
        option volume-uuid 74f52147-21bd-4285-ad30-8eacdbcd872a
        subvolumes glustervol-selinux
    end-volume
     
    volume glustervol-barrier
        type features/barrier
        option barrier-timeout 120
        option barrier disable
        subvolumes glustervol-marker
    end-volume
     
    volume glustervol-index
        type features/index
        option xattrop-pending-watchlist trusted.afr.glustervol-
        option xattrop-dirty-watchlist trusted.afr.dirty
        option index-base {{ brick_path }}/.glusterfs/indices
        subvolumes glustervol-barrier
    end-volume
     
    volume glustervol-quota
        type features/quota
        option deem-statfs off
        option server-quota off
        option volume-uuid glustervol
        subvolumes glustervol-index
    end-volume
     
    volume glustervol-io-stats
        type debug/io-stats
        option count-fop-hits off
        option latency-measurement off
        option log-level INFO
        option unique-id {{ brick_path }}
        subvolumes glustervol-quota
    end-volume
     
    volume {{ brick_path }}
        type performance/decompounder
        subvolumes glustervol-io-stats
    end-volume
     
    volume glustervol-server
        type protocol/server
        option transport.listen-backlog 1024
        option transport.socket.keepalive-count 9
        option transport.socket.keepalive-interval 2
        option transport.socket.keepalive-time 20
        option transport.socket.ssl-enabled off
        option transport.socket.keepalive 1
        option auth.addr.{{ brick_path }}.allow *
        option auth-path {{ brick_path }}
        option auth.login.ab4b02dc-8611-466c-8253-265c2bc41508.password d66d18b9-d359-4b8b-b3a4-424a71f28ffb
        option auth.login.{{ brick_path }}.allow ab4b02dc-8611-466c-8253-265c2bc41508
        option transport.address-family inet
        option transport-type tcp
        subvolumes {{ brick_path }}
    end-volume

  glustervol.fuse.vol: |
    volume {{ volname }}-client-0
        type protocol/client
        option send-gids true
        option transport.socket.keepalive-count 9
        option transport.socket.keepalive-interval 2
        option transport.socket.keepalive-time 20
        option transport.tcp-user-timeout 0
        option transport.socket.ssl-enabled off
        option password d66d18b9-d359-4b8b-b3a4-424a71f28ffb
        option username ab4b02dc-8611-466c-8253-265c2bc41508
        option transport.address-family inet
        option transport-type tcp
        option remote-subvolume /data/brick
        option remote-host {{ volname }}-{{ kube_hostname }}-0.{{ volname }}
        option ping-timeout 42
    end-volume
     
    volume {{ volname }}-dht
        type cluster/distribute
        option force-migration off
        option lock-migration off
        subvolumes {{ volname }}-client-0
    end-volume
     
    volume {{ volname }}-utime
        type features/utime
        option noatime on
        subvolumes {{ volname }}-dht
    end-volume
     
    volume {{ volname }}-write-behind
        type performance/write-behind
        subvolumes {{ volname }}-utime
    end-volume
     
    volume {{ volname }}-read-ahead
        type performance/read-ahead
        subvolumes {{ volname }}-write-behind
    end-volume
     
    volume {{ volname }}-readdir-ahead
        type performance/readdir-ahead
        option rda-cache-limit 10MB
        option rda-request-size 131072
        option parallel-readdir off
        subvolumes {{ volname }}-read-ahead
    end-volume
     
    volume {{ volname }}-io-cache
        type performance/io-cache
        subvolumes {{ volname }}-readdir-ahead
    end-volume
     
    volume {{ volname }}-open-behind
        type performance/open-behind
        subvolumes {{ volname }}-io-cache
    end-volume
     
    volume {{ volname }}-quick-read
        type performance/quick-read
        subvolumes {{ volname }}-open-behind
    end-volume
     
    volume {{ volname }}-md-cache
        type performance/md-cache
        subvolumes {{ volname }}-quick-read
    end-volume
     
    volume {{ volname }}-io-threads
        type performance/io-threads
        subvolumes {{ volname }}-md-cache
    end-volume
     
    volume {{ volname }}
        type debug/io-stats
        option count-fop-hits off
        option latency-measurement off
        option log-level INFO
        subvolumes {{ volname }}-io-threads
    end-volume
