{% for brick in gvol.bricks %}
volume {{ gvol.name }}-client-{{ brick.index }}
    type protocol/client
    option volfile-key /{{ gvol.name }}
    option transport.socket.read-fail-log false
    option remote-subvolume {{ brick.path }}
    option remote-host {{ brick.node }}
end-volume

{% endfor %}

{% for i in range(gvol.distribute_count) %}
volume {{ gvol.name }}-disperse-{{ i }}
    type cluster/disperse
    option redundancy {{ gvol.disperse_redundancy }}
    option data-self-heal on
    option granular-entry-heal on
    option iam-self-heal-daemon off
    option metadata-self-heal on
    option entry-self-heal on
    option read-hash-mode 5
    subvolumes {% for b in range(gvol.subvol_bricks_count) %} {{ gvol.name }}-client-{{ (i * gvol.subvol_bricks_count) + b }}{% endfor %}
end-volume

{% endfor %}

volume {{ gvol.name }}-dht
    type cluster/distribute
    subvolumes {{ gvol.dht_subvol | join(' ') }}
end-volume

volume {{ gvol.name }}-utime
    type features/utime
    option noatime on
    subvolumes {{ gvol.name }}-dht
end-volume

volume {{ gvol.name }}-write-behind
    type performance/write-behind
    option flush-behind on
    option write-behind on
    subvolumes {{ gvol.name }}-utime
end-volume

volume {{ gvol.name }}
    type debug/io-stats
    subvolumes {{ gvol.name }}-write-behind
end-volume
