---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: kadalu.{{ pool_name }}
provisioner: kadalu
allowVolumeExpansion: {%- if kadalu_format == "native" %} true{%- else %} false{%- endif %}
parameters:
  hostvol_type: "ExternalKadalu"
  mgr_url: {{ mgr_url }}
  pool_name: {{ pool_name }}
  volume_name: {{ volume_name }}
{%- if kadalu_options != "" %}
  kadalu_options: {{ kadalu_options }}
{%- endif %}
  # Subdir inside this volume would be a PV if 'kadalu_format' is 'native'
  # else whole volume is used as a single PV if it's 'non-native'
  kadalu_format: {{ kadalu_format }}
