---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: kadalu.{{ volname }}
provisioner: kadalu
allowVolumeExpansion: {%- if kadalu_format == "native" %} true{%- else %} false{%- endif %}
parameters:
  hostvol_type: "External"
  gluster_hosts: {{ gluster_hosts }}
  gluster_volname: {{ gluster_volname }}
{%- if gluster_options != "" %}
  gluster_options: {{ gluster_options }}
{%- endif %}
  # Subdir inside this volume would be a PV if 'kadalu_format' is 'native'
  # else whole volume is used as a single PV if it's 'non-native'
  kadalu_format: {{ kadalu_format }}
