{% for brick in gvol.bricks %}
volume {{ gvol.name }}-client-{{ brick.index }}
    type protocol/client
    option volfile-key /{{ gvol.name }}
    option transport.socket.read-fail-log false
    option remote-subvolume {{ brick.path }}
    option remote-host {{ brick.node }}
end-volume

{% endfor %}

{% for i in range(gvol.dht_subvol|length) %}
volume {{ gvol.name }}-replica-{{ i }}
    type cluster/replicate
    option data-self-heal on
    option granular-entry-heal on
    option iam-self-heal-daemon off
    option metadata-self-heal on
    option entry-self-heal on
    option read-hash-mode 5
    subvolumes {{ gvol.name }}-client-{{ i * 3 }} {{ gvol.name }}-client-{{ (i * 3) + 1}} {{ gvol.name }}-client-{{ (i * 3) + 2}}
end-volume

{% endfor %}

volume {{ gvol.name }}-dht
    type cluster/distribute
    subvolumes {{ gvol.dht_subvol|join(' ') }}
end-volume

volume {{ gvol.name }}-utime
    type features/utime
    option noatime on
    subvolumes {{ gvol.name }}-dht
end-volume

volume {{ gvol.name }}-write-behind
    type performance/write-behind
    option flush-behind on
    option write-behind on
    subvolumes {{ gvol.name }}-utime
end-volume

volume {{ gvol.name }}
    type debug/io-stats
    subvolumes {{ gvol.name }}-write-behind
end-volume
