volume {{ volname }}-posix
    type storage/posix
    option directory {{ bricks[1]["brick_path"] }}
    option volume-id {{ volume_id }}
end-volume

volume {{ volname }}-changelog
    type features/changelog
    option changelog-brick {{ bricks[1]["brick_path"] }}
    option changelog-dir {{ bricks[1]["brick_path"] }}/.glusterfs/changelogs
    subvolumes {{ volname }}-posix
end-volume

volume {{ volname }}-bitrot-stub
    type features/bitrot-stub
    option bitrot off
    option export {{ bricks[1]["brick_path"] }}
    subvolumes {{ volname }}-changelog
end-volume

volume {{ volname }}-access-control
    type features/access-control
    option super-uid 0
    subvolumes {{ volname }}-bitrot-stub
end-volume

volume {{ volname }}-locks
    type features/locks
    subvolumes {{ volname }}-access-control
end-volume

volume {{ volname }}-upcall
    type features/upcall
    option cache-invalidation off
    option cache-invalidation-timeout 60
    subvolumes {{ volname }}-locks
end-volume

volume {{ volname }}-io-threads
    type performance/io-threads
    subvolumes {{ volname }}-upcall
end-volume

volume {{ volname }}-barrier
    type features/barrier
    option barrier disable
    option barrier-timeout 120
    subvolumes {{ volname }}-io-threads
end-volume

volume {{ volname }}-index
    type features/index
    option xattrop-pending-watchlist trusted.afr.{{ volname }}
    option index-base {{ bricks[1]["brick_path"] }}/.glusterfs/indices
    option xattrop64-watchlist trusted.ec.dirty
    option xattrop-dirty-watchlist trusted.afr.dirty
    subvolumes {{ volname }}-barrier
end-volume

volume {{ bricks[1]["brick_path"] }}
    type debug/io-stats
    option unique-id /no/such/path
    subvolumes {{ volname }}-index
end-volume

volume {{ volname }}-server
    type protocol/server
    option auth.login.{{ bricks[1]["brick_path"] }}.ssl-allow *
    option auth.addr.{{ bricks[1]["brick_path"] }}.allow *
    option auth-path {{ bricks[1]["brick_path"] }}
    subvolumes {{ bricks[1]["brick_path"] }}
end-volume
