volume {{ volume_id }}-ta
    type protocol/client
    option remote-host {{ tiebreaker["node"] }}
    option remote-port {{ tiebreaker["port"] }}
    option remote-subvolume {{ tiebreaker["path"] }}
end-volume

{% for brick in bricks %}
volume {{ volname }}-client-{{ brick["brick_index"] }}
    type protocol/client
    option volfile-key /{{ volname }}
    option remote-subvolume {{ brick["brick_path"] }}
    option remote-host {{ brick["node"] }}
end-volume

{% endfor %}

{% for i in range(dht_subvol|length) %}
volume {{ volname }}-replica-{{ i }}
    type cluster/replicate
    option data-self-heal on
    option iam-self-heal-daemon true
    option pre-op-compat on
    option metadata-self-heal on
    option consistent-io no
    option self-heal-daemon on
    option choose-local true
    option data-change-log on
    option entry-self-heal on
    option consistent-metadata no
    option entry-change-log on
    option metadata-change-log on
    option read-hash-mode 5
    option afr-pending-xattr {{ volname }}-client-{{ i * 2 }},{{volname }}-client-{{(i * 2) + 1}},{{ volume_id }}-ta
    option thin-arbiter {{ tiebreaker["node"] }}:{{ tiebreaker["path"] }}
    subvolumes {{ volname }}-client-{{ i * 2 }} {{ volname }}-client-{{ (i * 2) + 1}} {{ volume_id }}-ta
end-volume

{% endfor %}

volume {{ volname }}-dht
    type cluster/distribute
    subvolumes {{ dht_subvol|join(' ') }}
end-volume


volume {{ volname }}-utime
    type features/utime
    option noatime on
    subvolumes {{ volname }}-dht
end-volume

volume {{ volname }}
    type debug/io-stats
    option unique-id {{ volume_id }}
    subvolumes {{ volname }}-utime
end-volume
