volume {{ volname }}-posix
    type storage/posix
    option fips-mode-rchecksum off
    option linux-aio off
    option gfid2path on
    option create-directory-mask 0777
    option export-statfs-size on
    option batch-fsync-delay-usec 0
    option directory {{ bricks[0]["brick_path"] }}
    option volume-id {{ volume_id }}
    option create-mask 0777
    option reserve 1
    option batch-fsync-mode reverse-fsync
    option update-link-count-parent off
    option max-hardlinks 100
    option ctime on
    option o-direct off
    option brick-uid -1
    option mandate-attribute off
    option shared-brick-count 1
    option janitor-sleep-duration 10
    option health-check-interval 30
    option health-check-timeout 10
    option force-create-mode 0000
    option background-unlink off
    option gfid2path-separator :
    option disable-landfill-purge off
    option brick-gid -1
    option node-uuid-pathinfo off
    option force-directory-mode 0000
end-volume

volume {{ volname }}-changelog
    type features/changelog
    option changelog-dir {{ bricks[0]["brick_path"] }}/.glusterfs/changelogs
    option op-mode realtime
    option fsync-interval 5
    option changelog-barrier-timeout 120
    option capture-del-path on
    option changelog off
    option changelog-brick {{ bricks[0]["brick_path"] }}
    option encoding ascii
    option rollover-time 15
    subvolumes {{ volname }}-posix
end-volume

volume {{ volname }}-bitrot-stub
    type features/bitrot-stub
    option bitrot off
    option export {{ bricks[0]["brick_path"] }}
    subvolumes {{ volname }}-changelog
end-volume

volume {{ volname }}-access-control
    type features/access-control
    option super-uid 0
    subvolumes {{ volname }}-bitrot-stub
end-volume

volume {{ volname }}-locks
    type features/locks
    option trace off
    option monkey-unlocking false
    option revocation-clear-all false
    option notify-contention no
    option mandatory-locking off
    option revocation-secs 0
    option revocation-max-blocked 0
    option notify-contention-delay 5
    option enforce-mandatory-lock off
    subvolumes {{ volname }}-access-control
end-volume

volume {{ volname }}-upcall
    type features/upcall
    option cache-invalidation off
    option cache-invalidation-timeout 60
    subvolumes {{ volname }}-locks
end-volume

volume {{ volname }}-io-threads
    type performance/io-threads
    option thread-count 16
    option normal-prio-threads 16
    option least-prio-threads 1
    option cleanup-disconnected-reqs off
    option pass-through false
    option high-prio-threads 16
    option low-prio-threads 16
    option enable-least-priority on
    option idle-time 120
    subvolumes {{ volname }}-upcall
end-volume

volume {{ volname }}-barrier
    type features/barrier
    option barrier disable
    option barrier-timeout 120
    subvolumes {{ volname }}-io-threads
end-volume

volume {{ volname }}-index
    type features/index
    option index-base {{ bricks[0]["brick_path"] }}/.glusterfs/indices
    option xattrop64-watchlist trusted.ec.dirty
    option xattrop-dirty-watchlist trusted.afr.dirty
    option xattrop-pending-watchlist trusted.afr.{{ volname }}
    subvolumes {{ volname }}-barrier
end-volume

volume {{ bricks[0]["brick_path"] }}
    type debug/io-stats
    option ios-dnscache-ttl-sec 86400
    option global-threading off
    option ios-sample-interval 0
    option dump-fd-stats off
    option log-buf-size 5
    option brick-log-flush-timeout 120
    option client-threads 16
    option brick-log-level INFO
    option unique-id /no/such/path
    option ios-sample-buf-size 65535
    option client-logger gluster-log
    option client-log-buf-size 5
    option log-flush-timeout 120
    option client-log-flush-timeout 120
    option ios-dump-format json
    option brick-logger gluster-log
    option client-log-format with-msg-id
    option client-log-level INFO
    option latency-measurement off
    option brick-log-buf-size 5
    option brick-threads 16
    option ios-dump-interval 0
    option sys-log-level CRITICAL
    option brick-log-format with-msg-id
    option count-fop-hits off
    subvolumes {{ volname }}-index
end-volume

volume {{ volname }}-server
    type protocol/server
    option root-squash off
    option strict-auth-accept off
    option transport.socket.nodelay 1
    option trace off
    option anonuid 65534
    option all-squash off
    option auth-path {{ bricks[0]["brick_path"] }}
    option transport.socket.ssl-enabled off
    option transport.socket.keepalive-time 20
    option transport-type tcp
    option transport.tcp-user-timeout 42
    option dynamic-auth on
    option transport.socket.read-fail-log off
    option rpc-auth-allow-insecure on
    option statedump-path /var/run/gluster
    option event-threads 2
    option transport.socket.keepalive-count 9
    option transport.socket.lowlat off
    option anongid 65534
    option auth.login.{{ bricks[0]["brick_path"] }}.ssl-allow *
    option rpc.outstanding-rpc-limit 64
    option gid-timeout 300
    option transport.socket.keepalive-interval 2
    option transport.listen-backlog 1024
    option auth.addr.{{ bricks[0]["brick_path"] }}.allow *
    option non-blocking-io off
    option transport.socket.keepalive 1
    option inode-lru-limit 16384
    option transport.socket.own-thread off
    option manage-gids off
    subvolumes {{ bricks[0]["brick_path"] }}
end-volume
