{% for brick in gvol.bricks %}
volume {{ gvol.name }}-client-{{ brick.index }}
    type protocol/client
    option remote-subvolume {{ brick.path }}
    option remote-host {{ brick.node }}
end-volume

{% endfor %}

volume {{ gvol.name }}-dht
    type cluster/distribute
    subvolumes {{ gvol.dht_subvol|join(' ') }}
{% if gvol.decommissioned != "" %}
    option decommissioned-bricks {{ decommissioned }}
{% endif %}
end-volume

volume {{ gvol.name }}-utime
    type features/utime
    option noatime on
    subvolumes {{ gvol.name }}-dht
end-volume

volume {{ gvol.name }}-md-cache
    type performance/md-cache
    subvolumes {{ gvol.name }}-utime
end-volume

volume {{ gvol.name }}-write-behind
    type performance/write-behind
    option cache-size 1MB
    option flush-behind on
    option write-behind on
    subvolumes {{ gvol.name }}-md-cache
end-volume

volume {{ gvol.name }}-open-behind
    type performance/open-behind
    option use-anonymous-fd no
    option open-behind on
    option pass-through false
    option read-after-open yes
    option lazy-open yes
    subvolumes {{ gvol.name }}-write-behind
end-volume

volume {{ gvol.name }}-nl-cache
    type performance/nl-cache
    option pass-through false
    option nl-cache on
    subvolumes {{ gvol.name }}-open-behind
end-volume

volume {{ gvol.name }}
    type debug/io-stats
    option unique-id /no/such/path
    subvolumes {{ gvol.name }}-nl-cache
end-volume

