# -*- mode: yaml -*-
---
kind: Service
apiVersion: v1
metadata:
  name: {{ pool_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/part-of: kadalu
    app.kubernetes.io/component: server
    app.kubernetes.io/name: {{ pool_name }}-service
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/part-of: kadalu
    app.kubernetes.io/component: server
    app.kubernetes.io/name: server
  ports:
    - name: brickport
      protocol: TCP
      port: 24007
      targetPort: 24007
  ports:
    - name: moanaport
      protocol: TCP
      port: 3000
      targetPort: 3000
