# -*- mode: yaml -*-
---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ serverpod_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/part-of: kadalu
    app.kubernetes.io/component: server
    app.kubernetes.io/name: server
spec:
  serviceName: {{ volname }}
  selector:
    matchLabels:
      app.kubernetes.io/part-of: kadalu
      app.kubernetes.io/component: server
      app.kubernetes.io/name: server
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: kadalu
        app.kubernetes.io/component: server
        app.kubernetes.io/name: server
    spec:
      serviceAccountName: kadalu-server-sa
{%- if kube_hostname != "" %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - {{ kube_hostname }}
{%- endif %}

      containers:
        - name: glusterfsd
          image: docker.io/{{ docker_user }}/kadalu-server:{{ kadalu_version }}
          lifecycle:
            preStop:
              exec:
                command: ["/kadalu/stop-server.sh", "{{ volname }}"]
          readinessProbe:
            tcpSocket:
              port: 24007
            initialDelaySeconds: 7
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 24007
            initialDelaySeconds: 120
            periodSeconds: 20
          env:
{%- if kube_hostname != "" %}
            - name: HOSTNAME
              value: {{ kube_hostname }}
{%- endif %}
            - name: VOLUME
              value: {{ volname }}
            - name: VOLUME_TYPE
              value: {{ voltype }}
            - name: BRICK_PATH
              value: {{ brick_path }}
            - name: NODEID
              value: {{ brick_node_id }}
            - name: VOLUME_ID
              value: {{ volume_id }}
            - name: BRICK_INDEX
              value: "{{ brick_index }}"
            - name: BRICK_DEVICE
              value: "{{ brick_device }}"
            - name: KADALU_VERSION
              value: "{{ kadalu_version }}"
          securityContext:
            capabilities: {}
            privileged: true
          volumeMounts:
            - name: gluster-dev
              mountPath: "/dev"
            - name: gluster-cgroup
              mountPath: "/sys/fs/cgroup"
              readOnly: true
            - name: gluster-kmods
              mountPath: "/usr/lib/modules"
              readOnly: true
            - name: glusterfsd-volfilesdir
              mountPath: "/var/lib/gluster"
            - name: glusterfsd-mountdir
              mountPath: "/bricks/{{ volname }}"
              mountPropagation: Bidirectional
{%- if brick_device_dir != "" %}
            - name: brick-device-dir
              mountPath: "/brickdev"
{%- endif %}

        - name: quotad
          image: docker.io/{{ docker_user }}/kadalu-server:{{ kadalu_version }}
          env:
{%- if kube_hostname != "" %}
            - name: HOSTNAME
              value: {{ kube_hostname }}
{%- endif %}
            - name: VOLUME
              value: {{ volname }}
            - name: VOLUME_TYPE
              value: {{ voltype }}
            - name: BRICK_PATH
              value: {{ brick_path }}
            - name: NODEID
              value: {{ brick_node_id }}
            - name: VOLUME_ID
              value: {{ volume_id }}
            - name: BRICK_INDEX
              value: "{{ brick_index }}"
            - name: KADALU_SERVER_ROLE
              value: "quotad"
            - name: SUBVOL_ROOT
              value: "subvol"
            - name: BRICK_DEVICE
              value: "{{ brick_device }}"
            - name: KADALU_VERSION
              value: "{{ kadalu_version }}"
          securityContext:
            capabilities: {}
            privileged: true
          volumeMounts:
            - name: glusterfsd-mountdir
              mountPath: "/bricks/{{ volname }}"
              mountPropagation: Bidirectional
{%- if shd_required %}
        - name: shd
          image: docker.io/{{ docker_user }}/kadalu-server:{{ kadalu_version }}
          env:
{%- if kube_hostname != "" %}
            - name: HOSTNAME
              value: {{ kube_hostname }}
{%- endif %}
            - name: VOLUME
              value: {{ volname }}
            - name: VOLUME_TYPE
              value: {{ voltype }}
            - name: BRICK_PATH
              value: {{ brick_path }}
            - name: NODEID
              value: {{ brick_node_id }}
            - name: VOLUME_ID
              value: {{ volume_id }}
            - name: BRICK_INDEX
              value: "{{ brick_index }}"
            - name: KADALU_SERVER_ROLE
              value: "shd"
            - name: SUBVOL_ROOT
              value: "subvol"
            - name: BRICK_DEVICE
              value: "{{ brick_device }}"
            - name: KADALU_VERSION
              value: "{{ kadalu_version }}"
          securityContext:
            capabilities: {}
            privileged: true
          volumeMounts:
            - name: glusterfsd-volfilesdir
              mountPath: "/var/lib/gluster"
{%- endif %}
      volumes:
        - name: gluster-dev
          hostPath:
            path: "/dev"
        - name: gluster-cgroup
          hostPath:
            path: "/sys/fs/cgroup"
        - name: gluster-kmods
          hostPath:
            path: "/usr/lib/modules"
        - name: glusterfsd-volfilesdir
          configMap:
            name: "kadalu-info"
        - name: glusterfsd-mountdir
{%- if pvc_name != "" %}
          persistentVolumeClaim:
            claimName: {{ pvc_name }}
{%- elif host_brick_path != "" %}
          hostPath:
            path: "{{ host_brick_path }}"
            type: Directory
{%- else %}
          emptyDir: {}
{%- endif %}
{%- if brick_device_dir != "" %}
        - name: brick-device-dir
          hostPath:
            path: "{{ brick_device_dir }}"
            type: Directory
{%- endif %}
