# -*- mode: yaml -*-
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: kadalu.{{ hostvol_name }}
provisioner: kadalu
allowVolumeExpansion: true
parameters:
  storage_name: {{ hostvol_name }}
  kadalu_format: {{ kadalu_format }}
