# -*- mode: yaml -*-
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: kadalu.disperse
provisioner: kadalu
allowVolumeExpansion: true
parameters:
  hostvol_type: "Disperse"
  onDelete: "delete"
