# -*- mode: yaml -*-
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: kadalu.{{ hostvol_name }}
provisioner: kadalu
allowVolumeExpansion: {%- if single_pv_per_pool %} false{%- else %} true{%- endif %}
parameters:
  storage_name: {{ hostvol_name }}
  single_pv_per_pool: "{{ single_pv_per_pool }}"
