name: buildx

# This gets built when a PR gets merged

on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - 'extras/**'
      - 'helm/**'
      - 'tests/**'
    branches:
      - devel
      - buildx_test
# Add tags later (for pushing release)


jobs:
  devel-tag-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Check out Code
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Python (for cli-build)
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Get the CLI build (kubectl-kadalu)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          KADALU_VERSION=devel make cli-build
      -
        name: Build CSI Image and push
        uses: docker/build-push-action@v2
        timeout-minutes: 120
        with:
          context: .
          file: csi/Dockerfile.frombuilder
          platforms: linux/amd64
          target: prod
          push: true
          tags: |
            docker.io/kadalu/kadalu-csi:${{ github.sha }}
            docker.io/kadalu/kadalu-csi:devel
          build-args: |
            version==${{ github.sha }}
            builddate=`date +%Y-%m-%d-%H:%M`
          secrets: |
            KADALU_VERSION=${{ github.sha }}
      -
        name: Build Operator Image and push
        uses: docker/build-push-action@v2
        timeout-minutes: 20
        with:
          context: .
          file: operator/Dockerfile.frombuilder
          platforms: linux/amd64
          target: prod
          push: true
          tags: |
            docker.io/kadalu/kadalu-operator:${{ github.sha }}
            docker.io/kadalu/kadalu-operator:devel
          build-args: |
            version==${{ github.sha }}
            builddate=`date +%Y-%m-%d-%H:%M`
          secrets: |
            KADALU_VERSION=${{ github.sha }}
      -
        name: Build Storage Server Image and push
        uses: docker/build-push-action@v2
        timeout-minutes: 20
        with:
          context: .
          file: server/Dockerfile.frombuilder
          platforms: linux/amd64
          target: prod
          push: true
          tags: |
            docker.io/kadalu/kadalu-server:${{ github.sha }}
            docker.io/kadalu/kadalu-server:devel
          build-args: |
            version==${{ github.sha }}
            builddate=`date +%Y-%m-%d-%H:%M`
          secrets: |
            KADALU_VERSION=${{ github.sha }}
